 @font-face {
  font-family: 'Office365Icons';
  src: url('css/office365icons.eot?');
  src: url('css/office365icons.eot?#iefix') format('embedded-opentype'), url('css/office365icons.woff?') format('woff'), url('css/office365icons.ttf?') format('truetype'), url('css/office365icons.svg?#office365icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.ms-Persona {
  color: #333333;
  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: table;
  line-height: 1;
  overflow: hidden;
  position: relative;
  text-align: left;
}
.ms-Persona .ms-Persona-image {
  display: table-cell;
  height: 50px;
  margin-right: 5px;
  width: 50px;
  background: center/cover content-box no-repeat;
}
.ms-Persona .ms-Persona-image.ms-Persona-image--doughboy {
  background-color: #a6a6a6;
  color: #ffffff;
  font-size: 23px;
  line-height: 48px;
  text-align: center;
  display: block;
}
.ms-Persona .ms-Persona-details {
  display: table-cell;
  padding-right: 0px;
  vertical-align: middle;
}
.ms-Persona .ms-Persona-primaryText {
  color: #333333;
  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  font-size: 17px;
  margin-top: -3px;
  white-space: nowrap;
}
.ms-Persona .ms-Persona-secondaryText,
.ms-Persona .ms-Persona-tertiaryText,
.ms-Persona .ms-Persona-optionalText {
  color: #666666;
  font-family: 'Segoe UI Web Regular', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  font-size: 12px;
  padding-top: 7px;
  white-space: nowrap;
}
.ms-Persona .ms-Persona-tertiaryText,
.ms-Persona .ms-Persona-optionalText {
  display: none;
}
.ms-Persona.ms-Persona--xl .ms-Persona-image {
  height: 100px;
  width: 100px;
}
.ms-Persona.ms-Persona--xl .ms-Persona-image.ms-Persona-image--doughboy {
  font-size: 45px;
  line-height: 100px;
}
.ms-Persona.ms-Persona--xl .ms-Persona-details {
  padding-left: 0px;
}
.ms-Persona.ms-Persona--xl .ms-Persona-primaryText {
  font-size: 21px;
  font-family: 'Segoe UI Web Semilight', 'Segoe UI Semilight', 'Segoe WP Semilight', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  margin-top: 2px;
}
.ms-Persona.ms-Persona--xl .ms-Persona-secondaryText {
  padding-top: 7px;
}
.ms-Persona.ms-Persona--xl .ms-Persona-tertiaryText,
.ms-Persona.ms-Persona--xl .ms-Persona-optionalText {
  display: block;
  padding-top: 8px;
}
.ms-Persona.ms-Persona--darkText .ms-Persona-primaryText {
  color: #212121;
}
.ms-Persona.ms-Persona--darkText .ms-Persona-secondaryText,
.ms-Persona.ms-Persona--darkText .ms-Persona-tertiaryText,
.ms-Persona.ms-Persona--darkText .ms-Persona-optionalText {
  color: #333333;
}
.ms-Persona.ms-Persona--selectable {
  cursor: pointer;
  padding: 0 10px;
}
.ms-Persona.ms-Persona--selectable:not(.ms-Persona--xl):hover,
.ms-Persona.ms-Persona--selectable:not(.ms-Persona--xl):focus {
  background-color: #deecf9;
}
.ms-Persona.ms-Persona--available .ms-Persona-presence {
  background-color: #5dd255;
}
.ms-Persona.ms-Persona--away .ms-Persona-presence {
  background-color: #ffd200;
}
.ms-Persona.ms-Persona--blocked .ms-Persona-presence {
  background-color: #dedede;
  background-image: linear-gradient(to bottom, #dedede 0%, #dedede 48%, #c72d25 48%, #c72d25 52%, #dedede 52%, #dedede 100%);
}
.ms-Persona.ms-Persona--busy .ms-Persona-presence {
  background-color: #d93b3b;
  background: repeating-linear-gradient(-45deg, #e57a79, #e57a79 3px, #d00e0d 3px, #d00e0d 6px);
}
.ms-Persona.ms-Persona--dnd .ms-Persona-presence {
  background-color: #c72d25;
  background-image: linear-gradient(to bottom, #c72d25 0%, #c72d25 48%, #ffffff 48%, #ffffff 52%, #c72d25 52%, #c72d25 100);
}
.ms-Persona.ms-Persona--offline .ms-Persona-presence {
  background-color: #b6cfd8;
}
.ms-PersonaCard {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: left;
  -webkit-animation-name: fadeIn, slideUp10;
  -webkit-animation-duration: 0.167s;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: fadeIn, slideUp10;
          animation-name: fadeIn, slideUp10;
  -webkit-animation-duration: 0.167s;
          animation-duration: 0.167s;
  -webkit-animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
          animation-timing-function: cubic-bezier(0.1, 0.25, 0.75, 0.9);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.ms-PersonaCard-persona {
  background-color: #f4f4f4;
}
.ms-PersonaCard-persona .ms-Persona .ms-Persona-primaryText {
  margin-top: 3px;
}
.ms-PersonaCard-actions {
  list-style: none;
  margin: 0;
  padding: 0 10px;
  border-bottom: 1px solid #c8c8c8;
  box-sizing: border-box;
  height: 50px;
}
.ms-PersonaCard-action {
  display: inline-block;
  cursor: pointer;
  font-size: 17px;
  height: 50px;
  line-height: 32px;
  padding: 10px;
  color: #666666;
  position: relative;
  box-sizing: border-box;
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'Office365Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
}

.ms-Icon--mail:before {
  content: '\e009';
}

.ms-Icon--phone:before {
  content: '\e023';
}

.ms-Icon--chat:before {
  content: '\e017';
}

.ms-PersonaCard-action:hover {
  color: #212121;
}
.ms-PersonaCard-action:active {
  color: #0078d7;
}
.ms-PersonaCard-action.is-active {
  color: #0078d7;
}
.ms-PersonaCard-action.is-active:after {
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid #c8c8c8;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: none;
  border-bottom: none;
  bottom: -5px;
  left: 15px;
}
.ms-PersonaCard-actionDetails {
  display: none;
  font-family: 'Segoe UI Web Semilight', 'Segoe UI Semilight', 'Segoe WP Semilight', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  font-size: 14px;
  color: #666666;
  padding: 9px 20px 9px 20px;
}
.ms-PersonaCard-actionDetails.is-active {
  display: block;
}
.ms-PersonaCard-actionDetails.is-collapsed {
  height: 30px;
  overflow: hidden;
}
.ms-PersonaCard-actionDetails.is-collapsed .ms-PersonaCard-detailExpander:after {
  content: '\e088';
}
.ms-PersonaCard-detailExpander {
  color: #333333;
  cursor: pointer;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  margin-top: 1px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 30px;
}
.ms-PersonaCard-detailExpander:after {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'Office365Icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  content: '\e087';
}
.ms-PersonaCard-detailLine {
  color: #333333;
  line-height: 30px;
}
.ms-PersonaCard-detailLine a {
  color: #0078d7;
  text-decoration: none;
}
.ms-PersonaCard-detailLabel {
  color: #666666;
}
@media (min-width: 480px) {
  .ms-PersonaCard {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    max-width: 360px;
    position: relative;
  }
}

 /* The new added class must be put to the last.
                If not, it will change the class ordered number when compiled out.
                Since the css and js files are in the different locations currently,
                the change of class order will impact the existing layout. SO
                Please put your new class to the last!!!
            */
.linkStyle {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 30px !important;
    color: #0072c6 !important;
    font-family: 'wf_segoe-ui_normal', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
    background: none !important;
    border: none !important;
    padding: 0px !important;
    cursor: pointer !important;
    vertical-align:top !important;
}

.detail {
    z-index: 999 !important;
    background: white;
}

.readOnly {
    background-color: transparent !important;
    padding: 0px !important;
    line-height: 0 !important;
    height: 22px !important;
}

.icon {
    line-height: 2 !important;
    background: none !important;
    border: none !important;
}

@media (min-width: 400px) {
    .displayMode  {
        position: absolute !important;
        bottom: inherit !important;
    }
}

.clickStyle {
    cursor: pointer;
    font-weight: 400; 
    margin-bottom: 0px;
}

.defaultStyle {
    cursor: default;
    font-weight: 400;
    margin-bottom: 0px;
}

.image {
    padding-right: 10px;
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    -webkit-box-sizing: content-box !important;
    float: left;
}

.nameImage {
    max-width: 248px;
    display: block !important;
}

.imageOfNameImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;    
    color: #fff;
    background: #a6a6a6;
    position: relative;
    background: center/cover content-box no-repeat;
}

.ms-Persona-details-nameImage {
    float: left;
    padding-right: 0px !important;
}

.ms-Persona-primaryText-nameImage {
    margin-top: 3px !important;
}

.ms-Persona-secondaryText-nameImage {
    padding-top: 5px !important;
}

 /* instead of .ms-PersonaCard in fabric-control.css */
.personaCard-customized {
    width: 360px;
}

.nameOnlyText {
    color: #0072c6 !important;
}

.nameOnlyText:hover {
    color: #2a6496 !important;
    text-decoration: underline;
}